.button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-radius: 2px;
  padding: 6px 24px;
  cursor: pointer;
}
.filled {
  composes: button;
  color: #ffffff;
  background-color: #397df6;
  border: 1px solid transparent;
}
.outlined {
  composes: button;
  color: #397df6;
  background-color: transparent;
  border: 1px solid #397df6;
}
.secondary {
  composes: button;
  color: #ffffff;
  background-color: #333333;
  border: 1px solid transparent;
}
button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
