/* Заголовки */
.large {
    font-size: 26px;
    line-height: 1.38;
    font-weight: 700;
    color: #000000;
}
.h1 {
    font-size: 20px;
    line-height: 1.8;
    font-weight: 700;
    color: #000000;

}
.h2 {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    color: #000000;
}
.h3 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #000000;
}

/* Тексты 16px */
.regular_text_16 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
}
.bold_text_16 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: #000000;
}

/* Тексты 14px */
.regular_text_14 {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    color: #000000;
}
.medium_text_14 {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 500;
    color: #000000;
}
.bold_text_14 {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 700;
    color: #000000;
}

/* Маленькие тексты */
.small_text {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    color: #000000;
}
.semi_bold_small_text {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 600;
    color: #000000;
}

/* Ссылки */
.regular_link {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    color: #397DF6;
    text-decoration: underline;
}
.regular_link:hover {
    color: #2f68cc;
}

.small_link {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    color: #397DF6;
    text-decoration: underline;
}
.small_link:hover {
    color: #2f68cc;
}

